In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

In [2]:
# Folder location string
path = r'C:\Users\nurgul\Linkedin'

In [3]:
# Importing cleaned dataset
df = pd.read_csv('jobs_posts_clean_onlyUS_v2.csv', index_col=False)

In [4]:
df.head()

,job_id,company_id,title,work_type,location,applies,views,experience_level,listed_time,approx_salary,name,company_size,state,country,zip_code,skill_abr,salary_category,applies_category,industry
0,3757935001,73013724,Sales Manager,Full-time,"Coeur d'Alene, ID",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services
1,3757934319,18391435,Controls Engineer,Full-time,"Orlando, FL",1.000000,5.000000,Mid-Senior level,2023-11-04 06:40:00,135500.0,head-huntress.com,4.537178,CA,US,92025,ENG,high,low,Staffing and Recruiting
2,3757934318,6577380,CDL Class B Driver,Full-time,"Oakland, CA",15.568389,56.874644,Mid-Senior level,2023-11-04 06:40:00,26.0,Conexwest,2.000000,California,US,94607,MGMT,low,medium,Retail Office Equipment
3,3757934267,28352,CDL A Delivery Driver,Full-time,"Swedesboro, NJ",15.568389,56.874644,Entry level,2023-11-04 06:40:00,95000.0,Core-Mark International,6.000000,Texas,US,76262,MGMT,medium,medium,Wholesale
4,3757934264,73013724,Sales Manager,Full-time,"Richmond, VA",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services

In [5]:
df.shape

(6996, 19)

In [6]:
df = df[df['zip_code'].str.isnumeric()]

In [7]:
df.shape

(6726, 19)

In [8]:
import pandas as pd

# Assuming 'df' is your DataFrame with the 'industry' column

# Define a function to group industries
def group_industry(industry):
    if industry in ['Banking','Financial Services', 'Insurance', 'Investment Banking', 'Venture Capital and Private Equity Principals']:
        return 'Financial Services'
    elif industry in ['Staffing and Recruiting']:
        return 'Staffing and Recruiting'
    elif industry in ['Retail Office Equipment', 'Retail', 'Retail Apparel and Fashion', 'Retail Groceries']:
        return 'Retail'
    elif industry in ['Wholesale', 'Wholesale Building Materials']:
        return 'Wholesale'
    elif industry in ['Hospitals and Health Care', 'Mental Health Care', 'Medical Device', 'Medical Practices']:
        return 'Health Care'
    elif industry in ['Biotechnology Research', 'Biotechnology', 'Pharmaceuticals']:
        return 'Biotechnology'
    elif industry in ['Entertainment', 'Entertainment Providers', 'Performing Arts', 'Gambling Facilities and Casinos',
                      'Musicians', 'Broadcast Media', 'Broadcast Media Production and Distribution', 'Online Audio and Video Media']:
        return 'Entertainment'
    elif industry in ['Food Production', 'Food and Beverage Manufacturing', 'Food and Beverages', 'Beverage Manufacturing',
                      'Dairy Product Manufacturing', 'Wine and Spirits']:
        return 'Food Production'
    elif industry in ['Manufacturing', 'Defense and Space Manufacturing',
                      'Furniture and Home Furnishings Manufacturing', 'Automation Machinery Manufacturing', 'Textile Manufacturing',
                      'Chemical Manufacturing', 'Semiconductor Manufacturing', 'Machinery Manufacturing',
                      'Appliances, Electrical, and Electronics Manufacturing', 'Industrial Machinery Manufacturing',
                      'Packaging and Containers Manufacturing', 'Railroad Manufacture', 'Plastics']:
        return 'Manufacturing'
    elif industry in ['Computer Hardware Manufacturing','Software Development', 'Computer Software', 'Information Technology and Services',
                      'Computer and Network Security', 'Internet', 'Technology, Information and Internet', 'Semiconductors','IT Services and IT Consulting','Computers and Electronics Manufacturing','Computer Software']:
        return 'Technology and IT'
    elif industry in ['Construction', 'Building Materials']:
        return 'Construction'
    elif industry in ['Retail Apparel and Fashion', 'Apparel and Fashion', 'Luxury Goods and Jewelry','Cosmetics', 'Design', 'Design Services']:
        return 'Apparel and Fashion'
    elif industry in ['Hospitality', 'Restaurants', 'Travel Arrangements', 'Events Services']:
        return 'Hospitality'
    elif industry in ['Telecommunications', 'Wireless']:
        return 'Telecommunications'
    elif industry in ['Education Administration Programs', 'Higher Education', 'Primary and Secondary Education', 'E-Learning Providers']:
        return 'Education'
    elif industry in ['Management Consulting', 'Business Consulting and Services', 'Consulting', 'Outsourcing and Offshoring Consulting']:
        return 'Consulting and Business Services'
    elif industry in ['Real Estate']:
        return 'Real Estate'
    elif industry in ['Non-profit Organizations', 'Non-profit Organization Management', 'Civic and Social Organizations', 'Fundraising']:
        return 'Non-profit'
    elif industry in ['Mining', 'Mining and Metals', 'Oil and Gas', 'Oil and Energy']:
        return 'Mining'
    elif industry in ['Government Administration', 'Public Safety', 'Public Policy Offices', 'Public Relations and Communications', 'Public Policy']:
        return 'Government'
    elif industry in ['Legal Services', 'Law Practice', 'Administration of Justice', 'Judiciary']:
        return 'Legal'
    elif industry in ['Automotive', 'Motor Vehicle Manufacturing','Industrial Automation']:
        return 'Automotive'
    elif industry in ['Human Resources Services', 'Human Resources']:
        return 'Human Resources'
    elif industry in ['Renewable Energy']:
        return 'Renewable Energy'
    elif industry in ['Semiconductor Manufacturing']:
        return 'Semiconductor Manufacturing'
    elif industry in ['Defense and Space', 'Aviation and Aerospace', 'Aviation and Aerospace Component Manufacturing', 'Airlines and Aviation', 'Armed Forces']:
        return 'Aerospace and Aviation'
    elif industry in ['Transportation/Trucking/Railroad', 'Logistics and Supply Chain', 'Package/Freight Delivery']:
        return 'Logistics and Transportation'
    elif industry in ['Newspaper Publishing', 'Publishing', 'Media Production', 'Online Media', 'Book and Periodical Publishing']:
        return 'Media and Publishing'
    elif industry in ['Environmental Services', 'Renewables and Environment','Photography','Artists and Writers','Information Services']:
        return 'Environmental and Sustainability'
    else:
        return 'Other'

# Create a new column 'grouped_industry' based on the grouping function
df['grouped_industry'] = df['industry'].apply(group_industry)

# Display the DataFrame with the new 'grouped_industry' column
print(df[['industry', 'grouped_industry']])

                       industry         grouped_industry
0            Financial Services       Financial Services
1       Staffing and Recruiting  Staffing and Recruiting
2       Retail Office Equipment                   Retail
3                     Wholesale                Wholesale
4            Financial Services       Financial Services
...                         ...                      ...
6991  Hospitals and Health Care              Health Care
6992  Hospitals and Health Care              Health Care
6993  Hospitals and Health Care              Health Care
6994                 Automotive               Automotive
6995                Real Estate              Real Estate

[6726 rows x 2 columns]

In [9]:
# Assuming you've already created the 'grouped_industry' column
unique_grouped_industries = df['grouped_industry'].unique()

# Print the unique values
print(unique_grouped_industries)

['Financial Services' 'Staffing and Recruiting' 'Retail' 'Wholesale'
 'Health Care' 'Biotechnology' 'Entertainment' 'Food Production'
 'Telecommunications' 'Manufacturing' 'Technology and IT' 'Construction'
 'Apparel and Fashion' 'Hospitality' 'Real Estate' 'Non-profit' 'Mining'
 'Education' 'Other' 'Government' 'Automotive'
 'Consulting and Business Services' 'Legal' 'Human Resources'
 'Environmental and Sustainability' 'Media and Publishing'
 'Aerospace and Aviation' 'Logistics and Transportation']

In [19]:
# Assuming 'df' is your DataFrame with the 'grouped_industry' column

# Filter the DataFrame to include only rows where 'grouped_industry' is 'Other'
other_category_df = df[df['grouped_industry'] == 'Other']

# Print unique values in the 'industry' column for the "Other" category
unique_values_other_category = other_category_df['industry'].unique()

# Display the unique values in the "Other" category
print(unique_values_other_category)

['Telecommunications' 'Apparel and Fashion' 'Hospitality'
 'Spectator Sports' 'Research Services' 'Accounting' 'Legal Services'
 'Law Practice' 'Civil Engineering' 'Human Resources Services' 'Utilities'
 'Performing Arts' 'Gambling Facilities and Casinos' 'Facilities Services'
 'Advertising Services' 'International Trade and Development'
 'Venture Capital and Private Equity Principals'
 'Food and Beverage Services' 'Packaging and Containers'
 'Food and Beverages' 'Machinery' 'Education Management' 'Human Resources'
 'Consumer Services' 'Health, Wellness and Fitness'
 'Computer and Network Security' 'Farming'
 'Museums, Historical Sites, and Zoos' 'Paper and Forest Products'
 'Glass, Ceramics and Concrete' 'Medical Practices'
 'Outsourcing/Offshoring' 'Online Audio and Video Media'
 'Renewables and Environment' 'Consumer Goods' 'Furniture'
 'Aviation and Aerospace' 'International Affairs' 'Travel Arrangements'
 'Fundraising' 'Armed Forces' 'Administration of Justice'
 'Law Enforcement' 'Airlines/Aviation' 'Information Services'
 'Design Services' 'Public Relations and Communications Services'
 'Book and Periodical Publishing' 'Design'
 'Mechanical Or Industrial Engineering' 'Judiciary' 'Railroad Manufacture'
 'Public Relations and Communications' 'Research' 'Artists and Writers'
 'Executive Offices' 'Wine and Spirits' 'Photography'
 'Industrial Automation' 'Publishing' 'Wireless' 'Plastics'
 'Museums and Institutions' 'Business Supplies and Equipment'
 'Translation and Localization' 'Public Policy' 'Package/Freight Delivery'
 'Consumer Electronics' 'Executive Office' 'Sports' 'E-learning'
 'Primary/Secondary Education' 'Music' 'Computer Hardware']

In [10]:
df.head(20)

,job_id,company_id,title,work_type,location,applies,views,experience_level,listed_time,approx_salary,name,company_size,state,country,zip_code,skill_abr,salary_category,applies_category,industry,grouped_industry
0,3757935001,73013724,Sales Manager,Full-time,"Coeur d'Alene, ID",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
1,3757934319,18391435,Controls Engineer,Full-time,"Orlando, FL",1.000000,5.000000,Mid-Senior level,2023-11-04 06:40:00,135500.0,head-huntress.com,4.537178,CA,US,92025,ENG,high,low,Staffing and Recruiting,Staffing and Recruiting
2,3757934318,6577380,CDL Class B Driver,Full-time,"Oakland, CA",15.568389,56.874644,Mid-Senior level,2023-11-04 06:40:00,26.0,Conexwest,2.000000,California,US,94607,MGMT,low,medium,Retail Office Equipment,Retail
3,3757934267,28352,CDL A Delivery Driver,Full-time,"Swedesboro, NJ",15.568389,56.874644,Entry level,2023-11-04 06:40:00,95000.0,Core-Mark International,6.000000,Texas,US,76262,MGMT,medium,medium,Wholesale,Wholesale
4,3757934264,73013724,Sales Manager,Full-time,"Richmond, VA",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
5,3757934178,73013724,Sales Manager,Full-time,"Rapid City, SD",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
6,3757934003,73013724,Sales Manager,Full-time,"Yuma, AZ",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
7,3757933435,73013724,Sales Manager,Full-time,"Sheboygan, WI",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
8,3757933252,73013724,Sales Manager,Full-time,Urbana-Champaign Area,18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
9,3757932799,73013724,Sales Manager,Full-time,"Chico, CA",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
10,3757932736,73013724,Sales Manager,Full-time,"Philadelphia, PA",2.000000,4.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,low,Financial Services,Financial Services
11,3757932471,73013724,Sales Manager,Full-time,"Charlottesville, VA",18.329151,1.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
12,3757932015,73013724,Sales Manager,Full-time,New York City Metropolitan Area,3.000000,6.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,low,Financial Services,Financial Services
13,3757931774,73013724,Sales Manager,Full-time,"Traverse City, MI",18.329151,2.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
14,3757931759,73013724,Sales Manager,Full-time,Louisville Metropolitan Area,1.000000,1.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,low,Financial Services,Financial Services
15,3757931738,73013724,Sales Manager,Full-time,Beaumont-Port Arthur Area,18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
16,3757931730,73013724,Sales Manager,Full-time,"York, PA",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
17,3757931721,73013724,Sales Manager,Full-time,Greater Palm Bay-Melbourne-Titusville Area,2.000000,3.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,low,Financial Services,Financial Services
18,3757931720,73013724,Sales Manager,Full-time,Crestview-Fort Walton Beach-Destin Area,18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services
19,3757931640,73013724,Sales Manager,Full-time,"Salinas, CA",18.329151,1.000000,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services,Financial Services

In [11]:
# Assuming df is your DataFrame and you want to drop columns 'column1' and 'column2'
columns_to_drop = ['company_id', 'country', 'skill_abr' ]

# Use the drop() method to remove the specified columns
df.drop(columns=columns_to_drop, inplace=True)

# Display the DataFrame after dropping columns
print(df)

          job_id                                              title  \
0     3757935001                                      Sales Manager
1     3757934319                                  Controls Engineer
2     3757934318                                 CDL Class B Driver
3     3757934267                              CDL A Delivery Driver
4     3757934264                                      Sales Manager
...          ...                                                ...
6991  2148434909               Clinic Managers - Physical Therapist
6992  2148434726                         Mental Health Professional
6993  2148434725                         Mental Health Professional
6994  2148434616  Lead Solar Maintenance Roofer, Residential Ser...
6995  2148434586                       Manager, Salesforce Platform

      work_type                      location    applies      views  \
0     Full-time             Coeur d'Alene, ID  18.329151  66.426309
1     Full-time                   Orlando, FL   1.000000   5.000000
2     Full-time                   Oakland, CA  15.568389  56.874644
3     Full-time                Swedesboro, NJ  15.568389  56.874644
4     Full-time                  Richmond, VA  18.329151  66.426309
...         ...                           ...        ...        ...
6991  Full-time                  Puyallup, WA  10.228571  25.015066
6992  Full-time                   Spokane, WA  10.228571  25.015066
6993  Full-time                   Spokane, WA  10.228571  25.015066
6994  Full-time                 San Diego, CA  15.568389  56.874644
6995  Full-time  New Hampshire, United States  31.256076  96.929148

      experience_level          listed_time  approx_salary  \
0     Mid-Senior level  2023-11-04 06:40:00      237500.00
1     Mid-Senior level  2023-11-04 06:40:00      135500.00
2     Mid-Senior level  2023-11-04 06:40:00          26.00
3          Entry level  2023-11-04 06:40:00       95000.00
4     Mid-Senior level  2023-11-04 06:40:00      237500.00
...                ...                  ...            ...
6991  Mid-Senior level  2023-08-24 06:53:20      104260.65
6992       Entry level  2023-08-24 06:53:20       67410.50
6993       Entry level  2023-08-24 06:53:20       67410.50
6994  Mid-Senior level  2023-08-24 04:06:40          32.50
6995  Mid-Senior level  2023-08-24 04:06:40      134808.00

                         name  company_size       state zip_code  \
0                     J. Galt      3.000000     Indiana    46268
1           head-huntress.com      4.537178          CA    92025
2                   Conexwest      2.000000  California    94607
3     Core-Mark International      6.000000       Texas    76262
4                     J. Galt      3.000000     Indiana    46268
...                       ...           ...         ...      ...
6991   Olympic Sports & Spine      3.000000  Washington    98409
6992  MultiCare Health System      7.000000          WA    98415
6993  MultiCare Health System      7.000000          WA    98415
6994                    Tesla      7.000000       Texas    78725
6995         Invitation Homes      5.000000       Texas    75201

     salary_category applies_category                   industry  \
0               high           medium         Financial Services
1               high              low    Staffing and Recruiting
2                low           medium    Retail Office Equipment
3             medium           medium                  Wholesale
4               high           medium         Financial Services
...              ...              ...                        ...
6991          medium           medium  Hospitals and Health Care
6992          medium           medium  Hospitals and Health Care
6993          medium           medium  Hospitals and Health Care
6994             low           medium                 Automotive
6995            high             high                Real Estate

             grouped_industry
0          Financial Services
1     Staffing and Recruiting
2                      Retail
3                   Wholesale
4          Financial Services
...                       ...
6991              Health Care
6992              Health Care
6993              Health Care
6994               Automotive
6995              Real Estate

[6726 rows x 17 columns]

In [12]:
df.columns

Index(['job_id', 'title', 'work_type', 'location', 'applies', 'views',
       'experience_level', 'listed_time', 'approx_salary', 'name',
       'company_size', 'state', 'zip_code', 'salary_category',
       'applies_category', 'industry', 'grouped_industry'],
      dtype='object')

In [13]:
df.shape

(6726, 17)

In [14]:
df.to_csv('job_posts_clean_final.csv', index=False)